.background-image {

  /* Add Darkened Background Image */
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../img/IMG_6547.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-color: #333333;
}

.rounded-icon {
  border-radius: 0.5em;
  cursor: pointer;
  color: #212529;
}

a:hover{
   color: #212529;
   text-decoration: none;
}


h1 {
  font-size: 6em;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }
